
.black__banner {
  padding: 40px 10px;
  background-color: #000;
  text-align: center;

  h2 {
    margin-top: 80px;
    color: #FFFFFF;
    font-family: "Quattrocento Sans", Sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100px;
    letter-spacing: 3.5px;
  }
}

@media screen and (max-width: 768px) {
  .black__banner {
    h2 {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 425px) {
  .black__banner {
    h2 {
      margin-top: 40px;
      font-size: 40px;
    }
  }
}