
.black__banner {
  padding: 60px 10px;
  background-color: #000;
  text-align: center;

  h2 {
    margin-top: 65px;
    color: #FFFFFF;
    font-family: "Quattrocento Sans", Sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100px;
    letter-spacing: 3.5px;
  }
}

