.performances {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;

  &__title {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 51px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__swiper {
    display: flex;
  }
}


/*ADAPTIVE*/
@media screen and (max-width: 1220px) {
  .performances {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .performances {
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
