.container {
  width: 1240px;
  margin: auto;
}

footer {


  &__top {


    &__left {


      &__contacts {


        h2 {

        }
      }

      &__elements {


        ul {


          li {

            span {

            }

            img {
              
              svg {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}