footer {
  background-color: #1d1d1d;

  .container {
    width: 1240px;
    margin: auto;

    &__top {
      &__left {
        &__contacts {
          h2 {
            color: #cecece;
            font-size: 18px;
            font-weight: 600;
          }
        }

        &__elements {
          ul {
            li {
              color: white;

              a {
              }

              span {
              }
            }
          }
        }
      }
    }
  }
}
