.container {
  max-width: 1140px;
  margin: auto;

  &__flex {
    display: flex;
    padding-top: 10px;
    gap: 30px;
  }
}

.poster {
  &__banner {
    padding: 40px 10px;
    background-color: #000;
    text-align: center;
    margin-bottom: 30px;

    h2 {
      margin-top: 80px;
      color: #ffffff;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 100px;
      letter-spacing: 3.5px;
    }
  }

  &__left {
    padding-bottom: 40px;
    width: 63%;
    display: flex;
    align-items: center;
    flex-flow: column;

    &__image {
      text-align: center;
      padding-bottom: 30px;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border-style: groove;
        border-width: 2px 2px 2px 2px;
        cursor: pointer;
      }
    }

    &__content {
      &__title {
        color: #141414;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 10px;
      }

      &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__icons {
          display: flex;
          flex-flow: column;
          row-gap: 5px;

          div {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 15px;
              height: 15px;
            }

            p {
              font-size: 14px;
              font-weight: 600;
              color: #54595f;
            }
          }
        }

        &__button {
          a {
            font-size: 15px;
            font-weight: 600;
            color: #000000;
            background-color: #f5a300;
            border: 3px groove #b9b6b6;
            border-radius: 24px;
            padding: 12px 28px;
            text-transform: uppercase;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              border-color: #f5a300;
              background-color: #ffffff;
              transform: scale(0.9);
            }
          }
        }
      }
    }

    &__description {
      padding-top: 20px;

      h4 {
        color: #f5a300;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 15px;
      }

      p {
        color: #7a7a7a;
        line-height: 1.8;
        font-size: 14px;
        letter-spacing: 5;
        font-weight: 500;
        text-align: justify;
      }

      a {
        display: flex;
        align-items: center;
        max-width: 100%;
        gap: 250px;
        color: #54595f;
        font-size: 11.2px;
        padding-top: 40px;
        padding-left: 20px;
        font-weight: 500;
        font-family: "Play", sans-serif;

        span {
          font-size: 30px;
          color: gray;
        }
      }
    }
  }

  &__right {
    padding-bottom: 40px;
    width: 37%;
    display: flex;
    align-items: center;
    flex-flow: column;

    &__title {
      font-size: 25px;
      color: #ffaa00;
      font-weight: 600;
      padding-bottom: 20px;
    }

    &__flex {
      display: flex;
      flex-flow: column;
      text-align: center;
      gap: 20px;

      &__card {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 20px;

        &__link {
          a {
            img {
              width: 380px;
              height: 250px;
              border-radius: 15px;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }
        h4 {
          a {
            font-family: "Play", Sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #54595f;
          }
        }
        p {
          a {
            font-family: "Play", Sans-serif;
            font-size: 17px;
            font-weight: 400;
            color: #f5a300;
          }
        }
      }
    }
  }
}

// adaptive

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .poster {
    &__left {
      &__image {
        img {
          width: 90%;
          height: auto;
        }
      }
    }
    &__banner {
      h2 {
        font-size: 30px;
      }
    }

    &__right {
      &__flex {
        display: flex;
        flex-flow: wrap;
        gap: 5px;

        &__card {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 6px;
          width: 160px;

          &__link {
            a {
              img {
                width: 150px;
                height: 100px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .poster {
    &__left {
      &__image {
        img {
          max-width: 90%;
          height: auto;
        }
      }
    }

    &__banner {
      h2 {
        font-size: 20px;
      }
    }

    &__right {
      &__flex {
        display: flex;
        flex-flow: wrap;

        &__card {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 6px;
          width: 120px;

          &__link {
            a {
              img {
                width: 105px;
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 90%;
    margin: auto;

    &__flex {
      display: flex;
      flex-flow: column;
      padding-top: 10px;
    }
  }

  .poster {
    flex-flow: column;

    &__banner {
      margin-bottom: 15px;
      padding: 0;
    }

    &__left {
      width: 100%;

      &__image {
        img {
          width: 90%;
          height: auto;
        }
      }

      &__description {
        a {
          span {
            display: none;
          }
        }
      }
    }

    &__right {
      width: 100%;

      &__flex {
        display: flex;
        flex-flow: column;
        gap: 20px;

        &__card {
          display: flex;
          flex-flow: column;
          gap: 10px;
          width: 100%;
          text-align: center;

          &__link {
            a {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
