@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "./libs/reset";


.active {
   color:#F5A300;
   background-color: #6866669E;
}

/*SWIPER*/
.swiper {
   padding: 20px 0 35px 0;
   &-pagination {
      position: relative;
      transform: translate(0, 30px);
      z-index: 9;
      &-bullet {
         width: 6px;
         height: 6px;
         background-color: #F5A300D9;

         &:hover {
            background-color: #F5A300;
         }
      }
   }
}

.swiper-button-prev,
.swiper-button-next {
   color: #F5A300;
   
   &::after {
      font-weight: 700;
      font-size: 18px;
   }
}




/*AOS*/

.aos-animate {
   opacity: 1 !important;
   transform: translate(0, 0) !important;
   transition: all 0.3s ease-in-out;
}

.aos-fade-up {
   opacity: 0;
   transform: translate(0, 50px);
}




/*DOT*/
.banner__dot_active {
   position: absolute;
   left: -130%;
   width: 23px;
   height: 23px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;

   .banner__dot_number_active {
      opacity: 1;
   }
}


.banner_swiper__active {
   height: 410px;
}

@media screen and (max-width: 1024px) {
   .banner_swiper__active {
      height: 350px;
   }
}

@media screen and (max-width: 769px) {
   .banner_swiper__active {
      height: 150px;
   }
}